.buttonwrapper {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  background: var(--background-gradient);
  border: 1px solid #c5c5c5;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  color: var(--main-text-color);
  transition: var(--transition);
}

.buttonwrapper:active {
  scale: 0.9;
}
