.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  background: var(--background-gradient);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  color: var(--main-text-color);
  transition: var(--transition);

  @media (min-width: 639px) {
    display: none;
  }
}

.button:active {
  scale: 0.9;
}

.list {
  position: absolute;
  right: 0;
  top: 35px;
}
