.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: var(--main-text-color);
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: var(--main-text-color);
}

.button {
  width: 100%;
  max-width: 480px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  background: var(--background-gradient);
  color: var(--main-text-color);
  transition: var(--transition);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: auto;
}

.button:hover {
  background-color: rgb(230, 227, 227);
}
