.wrapper {
  display: none;
  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 1));

  @media (min-width: 350px) {
    display: block;
    width: 30px;
  }

  @media (min-width: 400px) {
    width: 48px;
  }
}
