.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.select {
  width: 100%;
  max-width: 480px;
  text-align: center;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}
