.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.item {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 16/9;
}
