.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.4)
    ),
    url("/src/assets/img/header-img.jpg");
  background-size: cover;
  /* backdrop-filter: blur(20px); */
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: start;
}

.btnwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
