.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: var(--background-gradient), url("/src/assets/img/header-img.jpg");
  background-size: cover;
  transition: var(--transition);
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.btnwrapper {
  display: none;
  @media (min-width: 640px) {
    display: flex;
  }
}
