body {
  --background-gradient: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  );
  --main-text-color: black;
  --transition: all 0.5s ease-out;
}

body.dark {
  --background-gradient: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4)
  );
  --main-text-color: #c5c5c5;
}
