.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.text {
  text-align: center;
}
.button {
  width: 100%;
  max-width: 480px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  border: 1px solid #ecebeb;
  border-radius: 3px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

.button:hover {
  background-color: rgb(230, 227, 227);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form > div {
  display: flex;
  justify-content: center;
  gap: 50px;
}
/* .form label {
  display: flex;
  gap: 5px;
} */

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  position: relative;
}

label > span {
  display: flex;
  align-items: center;
}

label span::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 2px solid #555;
  border-radius: 50%;
  box-sizing: border-box;
  transition: border-color 0.2s, background 0.2s;
  margin-right: 6px;
  position: relative;
}

label span::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}

input[type="checkbox"]:checked + span::before {
  background: #007bff;
  border-color: #007bff;
}

input[type="checkbox"]:checked + span::after {
  opacity: 1;
}
