.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: var(--background-gradient), url("/src/assets/img/footer-img.jpg");
  background-size: cover;
  color: black;
}
