.list {
  position: absolute;
  right: 0;
  top: 35px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  width: 48px;
  height: 48px;
  cursor: pointer;

  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.6));
}
.icon {
  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.6));
}

.wrapper {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  transition: var(--transition);
  background: var(--background-gradient);
  border: 1px solid #c5c5c5;
}

.wrapper:active {
  scale: 0.9;
}
