.nav {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navList {
  max-width: 300px;
  min-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  display: block;
  padding: 5px;
  border: 1px solid var(--main-text-color);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  background: var(--background-gradient);
  color: var(--main-text-color);
  transition: var(--transition);
}

.active {
  composes: navLink;
  background: var(--background-gradient);
  text-decoration: underline;
  transition: var(--transition);
}
