.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  gap: 5px;
  font-size: 28px;
}

@media (min-width: 768px) {
  .item {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .item {
    font-size: 40px;
  }
}

.button {
  width: 100%;
  max-width: 480px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

.button:hover {
  background-color: rgb(230, 227, 227);
}
